* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


/* Header Style */

/* Navbar Style */
.nav {
    position: sticky;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.19), 0 6px 20px 0 rgba(0,0,0,0.2);
    margin: 0;
    padding: 3px 5px;
}
.bar a{
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
}
.bar a:hover{
    border-bottom: solid 2px orange;
}
.bardrop{
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
}
.drop-content .bardrop:hover{
    display: inline-block;
}
.drop-content {
    list-style-type: none;
    z-index: 1;
    display: none;
}

.nameshop{
    font-family: 'Raleway', sans-serif;
    color: #e74c3c;
    font-size: large;
}
#logintus{
    float: right;
}
/*row and column*/

/* Create three equal columns that floats next to each other */
.column-2 {
    float: left;
    width: 50%;
    height: 400px;
    overflow: auto;
}
.column-1 {
    float: left;
    width: 100%;
    height: 400px;
    overflow: auto;
}
.column-14{
    float: left;
    width: 25%;
    height: 800px;
    overflow: auto;
    border-right: solid orangered 2px;
}
.column-34{
    float: left;
    width: 75%;
    height: 800px;
    overflow: auto;
}
.column-login{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(90deg, #B066FE, #63E2FF);
}
.column-header{
    width: 100%;
    height: 550px;
    background-image: url("./images/toystore.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* Clear floats after the columns */
.row-small{
    width: 100%;
    height: 20px;
}
.row-small-catalogue{
    width: 100%;
    height: 20px;
    margin-right: auto;
    margin-left: auto;
}
.row1{
    width: 100%;
    height: 400px;
}

.row2{
    width: 100%;
    height: 600px;
}
.row3{
    width: 100%;
    height: 800px;
}
.row-catalogue{
    width: 100%;
    height: 100px;
}

.row1:after {
     content: "";
     display: table;
     clear: both;
 }
.row2:after {
    content: "";
    display: table;
    clear: both;
}
.row3:after {
    content: "";
    display: table;
    clear: both;
}
.row-small:after{
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column-2 {
        width: 100%;
    }
}

/*card and content*/

.mid-content {
    overflow: auto;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.default-content{
    overflow: auto;
}
.beauti-content{
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}
/*small card */
.card1{
    float: left;
    display: block;
    overflow: auto;
    width: 180px;
    height:250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/*medium card */
.card2{
    float: left;
    display: block;
    overflow: auto;
    width: 200px;
    height:250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*Normal card*/
.card-normal{
    float: left;
    display: block;
    overflow: auto;
    width: 200px;
    height:250px;
    border: 1px solid black;
}
.avatar{
    width: 100%;
}

/*Button-message*/
.message{
    color: #e74c3c;
}

.btn{
    border-radius: 2px;
    font-size: 16px;
    background-color: bisque;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}
.btnspec{
    border-radius: 12px;
    font-size: 16px;
    background-color: orange;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;

}
